
<div class='logo_cont cont'>
  <img class='logo' src='http://i.imgur.com/Jo6XWir.png' alt='monster mansion logo'/>
</div>

<div class='selection_cont cont'>
  <div class='player_options options_cont'> 
    <select 
      class='dropdown_option player_option' 
      ng-options='v for v in options.players.values'
      ng-model='options.players.value' 
    >
    </select>
  </div>

  <div class='theme_options options_cont'> 
    <select 
      class='dropdown_option theme_option' 
      ng-options='v for v in options.themes.values'
      ng-model='options.themes.value' 
    >
    </select>
  </div>
  <div class='event_options options_cont'> 
    <div class='dropdown_option'>
      <div class='text'> Random Events </div>
      <span class="checkmark selected">
        <div class="checkmark_circle"></div>
        <div class="checkmark_stem"></div>
        <div class="checkmark_kick"></div>
      </span>
    </div>
  </div>
</div>

<div class='cta_cont cont' ng-click='onClickStart($event)'>START GAME</div>
