$primary_green: #7ED321;
$secondary_green: #B8E986;
$primary_black: #333;

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                 not supported by any browser */
}
.animated_transition {
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s; 
}
@import 'home';
@import 'timer';

////////////////
// INDEX PAGE //
////////////////

body {
  background-color: #eee;
  
  .app {
    // padding-top: 80px; 
    min-height: 700px;
    background-color: $primary_green;
    max-width: 375px;
    position: relative; 
  } // .app
} // body

.logo_cont {
  margin-top: 90px;
  text-align: center;
  .logo {
    @extend .animated_transition;
    padding-left: 13px;
    &.home_view {
      width: 300px;
    }
    &.timer_view {
      width: 220px;
    }

  }
  margin-bottom: 30px;
}



